@model IEnumerable<Importadora.ViewModel.ViewModelCliente>

@{
    ViewBag.Title = "ListarClientes";
}

<h2>Lista de clientes</h2>


<table class="table  table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="active">
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @if (Session["rol"].ToString() == "deposito")
                {
                    @Html.ActionLink("Seleccionar Cliente", "ProductosCliente", "Producto", new { id = item.Rut }, null);
                }
                @if (Session["rol"].ToString() == "admin")
                {
                    @Html.ActionLink("Seleccionar Cliente", "PrevGanancia", "Importacion", new { id = item.Rut }, null);
                }
            </td>
        </tr>
    }

</table>
